.wrapper.wrapper-content.animated.fadeInRight
  %div#barra_1
    %div.container
      %span.gris Atenci&oacute;n al Cliente
      %span.amarillo +593 979355476

  %div.container#cabecera
    %div#barra_logos
      %div.col-sm-3.col-md-3
        %img.img-responsive{:alt => "image", :src => image_path('sktalleres.png'), :id => "logo_sk"}
      %div.col-md-2.col-sm-offset-5.col-md-offset-5
        %img.img-responsive{:alt => "image", :src => image_path('logo_atc_horizontal.png'), :width => '100%', :id => "logo_atc"}
      %div.col-md-2
        %img.img-responsive{:alt => "image", :src => image_path('logo_autodesk.png'), :width => '100%', :id => "logo_autodesk"}

    -#<header id="main-header" class="content-menu main-header">
    -#  <nav class="navbar" role="navigation">
    -#    <!-- Brand and toggle get grouped for better mobile display -->
    -#    <div class="navbar-header">
    -#      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    -#        <span class="sr-only">Toggle navigation</span>
    -#        <span class="icon-bar"></span>
    -#        <span class="icon-bar"></span>
    -#        <span class="icon-bar"></span>
    -#      </button>
    -#    </div>
    -#    <!-- Collect the nav links, forms, and other content for toggling -->
    -#    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    -#      <ul id="main-menu" class="nav nav-pills">
    -#        <li><a href="index.php">Inicio</a></li>
    -#    <li><a href="nosotros.php">Nosotros</a></li>
    -#    <li><a href="contacto.php">Contacto</a></li>
    -#    <li><a href="contacto.php">Cursos</a></li>
    -#      <!--li class="dropdown">
    -#      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cursos <span class="caret"></span></a>
    -#      <ul class="dropdown-menu" role="menu">
    -#        <li><a href="maya.php">MAYA</a></li>
    -#        <li><a href="inventor.php">INVENTOR</a></li>
    -#        <li><a href="autocad.php">AUTOCAD</a></li>
    -#        <li><a href="revit.php">REVIT</a></li>
    -#        <li><a href="civil3d.php">CIVIL 3D</a></li>
    -#        <li><a href="fusion.php">FUSION 360</a></li>
    -#          <li><a href="robot.php">ROBOT</a></li>
    -#      </ul>
    -#    </li-->
    -#    <li class="hidden-sm-down last"><a href="certificacion.php">Certificaci&oacute;n</a></li>
    -#    </ul>
    -#      </div>
    -#      <!-- /.navbar-collapse -->
    -#
    -#      </nav>
    -#</header>
    %div
      %div#background_principal
        %div#formulario
          %nav
            %ul
              %li
                %a.btn-perfil.btn-registrate Reg&iacute;strate
              %li
                %a.btn-perfil Iniciar sesi&oacute;n
          %p#subtitulo Primer Curso  Gratis

    -#<div id="main_wrapper">
    -#  <div id="menu2" class="container">
    -#    <div class="content">
    -#      <a class="btn-resposive"><span class="icon-menu"></span></a>
    -#      <div class="clear"></div>
    -#      <ul class="items">
    -#        <li><a href="#header" data-ref="header">Arquitectura</a></li>
    -#        <li><a href="#evento" data-ref="evento">Diseño Industrial</a></li>
    -#        <li><a href="#cronograma" data-ref="cronograma">Diseño Grafico y Multimedia</a></li>
    -#        <li><a href="#inversion" data-ref="inversion">Ingeniería Mecánica</a></li>
    -#        <li><a href="#lideres" data-ref="lideres">Ingeniería Civil</a></li>
    -#      </ul>
    -#    </div>
    -#  </div>
    -#</div>
    -#

    .section.home
      %img.img-responsive{:alt => "image", :src => image_path('bg-home.jpg'), :class => "img-home"}