%div#div_nosotros
  %div
    %div#background_nosotros

  %div#menu-software.container
    %nav
      %ul.items
        %li.active
          ¿Quienes Somos?
        %li
          Home

  %div#content-nosotros.container
    .col-sm-10.col-sm-offset-1
      %p.titulo1 SkTalleres
      %div.texto_span Somos una empresa comprometida con nuestros participantes ofreciéndoles servicios de capacitación en tecnologías Building Information Modeling (BIM) y Product Lifecycle Managment (PLM) enseñándolos así a transformar ideas en productos de éxito.
      %br
      .row
        .col-sm-12
          %img.img-responsive{:alt => "image", :src => image_path('nosotros_1.png'), :id => "img-1-nosotros"}
      %br
      .row
        .col-sm-5
          %img.img-responsive{:alt => "image", :src => image_path('nosotros_2.png'), :id => "img-1-nosotros"}
        .col-sm-5
          %img.logo.img-responsive{:alt => "image", :src => image_path('logos/autodesk_black_white.png'), :id => "autodesk"}

      %br
      %div.text_span Siendo una extensión directa y autorizada por Abstract Training Center (ATC) – Venezuela con más de 15 años de experiencia en un campo tan exigente y selectivo, abriendo nuevas fronteras internacionales en Ecuador
      %br
      %br