.footer
  %div.footer-content
    %div.row#row_top_footer
      %div.col-sm-4
        %ul#lista_logos_footer
          %li
            %img.img-responsive{:alt => "image", :src => image_path('footer/logo_sktalleres.png')}
          %li
            %img.img-responsive{:alt => "image", :src => image_path('footer/logo_atc.png')}
          %li
            %img.img-responsive{:alt => "image", :src => image_path('footer/logo_autodesk.png')}
      %div.col-sm-5.col-sm-offset-3
        %ul.pull-right#lista_menu_footer
          %li
            Inicio
          %li
            Nosotros
          %li
            Cursos
          %li
            Contactos
    %div.row#row_bottom_footer
      .col-sm-4.col_bottom_footer.primera
        %div Dise&ntilde;ado por SkTalleres
      .col-sm-4.col_bottom_footer
        .col-sm-12
          .col-sm-6
            %ul
              %li MAYA
              %li INVENTOR
              %li AUTOCAD
              %li REVIT
          .col-sm-6
            %ul
              %li CIVIL 3D
              %li FUSION 360
              %li ROBOT
      .col-sm-4.col_bottom_footer_last
        %ul
          %li
            %i.fa.fa-phone
            +593 979355476
          %li
            %i.fa.fa-envelope
            info@sktalleres.com
          %li Contactos
